<!DOCTYPE html>
<html>
  <head>
   

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">


  namespace = '/test';
            var socket = io(namespace);

    
    socket.on('connect', function() 
    {
        socket.emit('my event', {data: 'I\'m connected!'});    
    });


alert(1);

   
var socket1 = io() ;

   socket1.on('log', function(payload) {
    alert(payload.data);
        console.log(payload);
        var dataElement = document.createElement('pre')
        dataElement.innerHTML = payload.data
        loggerElement.appendChild(dataElement)
      })
    

</script>
    
     


  </head>
  <body>
    hello
    <button onclick=""></button>






<img src="demo (1).gif" alt="Flowers in Chania">



  </body>
</html>